.btn {
  display: inline-block;
  
  &:hover {
    cursor: pointer;
  }
  
  &:focus {
    outline: 2px dotted var(--clr-primary-300);
    outline-offset: 0.15em;
  }
  
  &:active {
    transform: scale(98%);
  }
  
  &__pill-primary,
  &__cutout-corners {
    background-color: var(--clr-primary-400);
    border: none;
    box-shadow: 0 0.35em 5px hsla(0, 0%, 0%, 0.1);
    
    &:hover {
      background-color: var(--clr-primary-300);
    }
    
    &:active {
      box-shadow: none;
    }
  }
  
  &__pill-primary,
  &__pill-secondary {
    border-radius: 100vmax;
  }
  
  &__pill-primary {
    padding: 0.75em 3em;
  }
  
  &__pill-secondary {
    border: 1.5px solid currentColor;
    padding: 0.5em 2em;
  }
  
  &__cutout-corners {
    padding: 0.75em 3em;
    border-radius: 0.5em;
  }
}