@use '../abstracts/breakpoints' as brk;

.newsletter {
  --title-margin-bottom: 1rem;
  --desc-margin-bottom: 2rem;
  --desc-max-width: 45ch;
  --email-input-padding: 1em;
  --btn-padding: 0.75em 1.75em;
  --form-flex-direction: column;
  --form-gap: 1rem;
  --btn-align-self: end;
    
  @include brk.minWidth(medium) {
    --title-margin-bottom: 1.5rem;
    --email-input-padding: 0.75em 1em;
    --form-flex-direction: row;
    --form-gap: 2.5rem;
    --btn-align-self: start;
  }
  
  .title {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    margin-bottom: var(--title-margin-bottom);
  }
  
  &__description {
    line-height: 1.8;
    max-width: var(--desc-max-width);
    margin-bottom: var(--desc-margin-bottom);
  }
  
  &__form {
    display: flex;
    flex-direction: var(--form-flex-direction);
    gap: var(--form-gap);
    
    @include brk.minWidth(medium) {
      flex-direction: row;
    }
  }
  
  &__label {
    width: 100%;
  }
  
  &__input-email {
    width: 100%;
    padding: var(--email-input-padding);
    border: none;
    border-radius: 0.25em;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-900);
    
    &:focus {
      outline: 2px solid var(--clr-primary-400);
    }
  }
  
  &__email-error {
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-400);
    font-style: italic;
    display: none;
  }
  
  &__button {
    padding: var(--btn-padding);
    font-weight: var(--fw-bold);
    align-self: var(--btn-align-self);
  }
}

// Javascript functionality
.error {
  
  .newsletter__input-email {
    color: var(--clr-secondary-400);
    outline: 1px solid currentColor;
    
    &:focus {
      outline: 1px solid currentColor;
    }
  }
  
  .newsletter__email-error {
    display: block;
  }
}