@use '../abstracts/breakpoints' as brk;

.newsletter {
  --email-input-padding: 1em;
  --btn-margin: 1rem 0 0 auto;
    
  @include brk.minWidth(medium) {
    --email-input-padding: 0.75em 1em;
    --btn-margin: 0;
  }
  
  .title {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    margin-bottom: 1rem;
  }
  
  &__description {
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  
  &__form {
    
    @include brk.minWidth(medium) {
      
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: 
        'input btn'
        'err err';
      grid-column-gap: 2rem;
    }
  }
  
  &__input-email {
    display: block;
    width: 100%;
    padding: var(--email-input-padding);
    border: none;
    border-radius: 0.25em;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-900);
    
    @include brk.minWidth(medium) {
      grid-area: input;
    }
    
    &:focus {
      outline: 2px solid var(--clr-primary-400);
    }
  }
  
  &__email-error {
    font-weight: var(--fw-regular);
    color: var(--clr-secondary-400);
    font-style: italic;
    display: none;
    
    @include brk.minWidth(medium) {
      grid-area: err;
    }
  }
  
  .btn {
    display: block;
    margin: var(--btn-margin);
    font-weight: var(--fw-bold);
    
    @include brk.minWidth(medium) {
      grid-area: btn;
    }
  }
}

// Javascript functionality
.error {
  
  .newsletter__input-email {
    color: var(--clr-secondary-400);
    outline: 1px solid currentColor;
    
    &:focus {
      outline: 1px solid currentColor;
    }
  }
  
  .newsletter__email-error {
    display: block;
  }
}