.flex {
  display: flex;
  flex-wrap: wrap;
  
  &__row {flex-direction: row;}
  &__row-reverse {flex-direction: row-reverse;}
  
  &__justify-center {justify-content: center;}
  &__space-between {justify-content: space-between;}
  &__align-center {align-items: center;}
  &__center-center {
    justify-content: center;
    align-items: center;
  }
}
