body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

h1, h2, h3 {
  font-weight: var(--fw-bold);
}

p {
  font-weight: var(--fw-semi-bold);
}

.hero,
.call-to-action {
  text-align: center;
  
  &__title {
    font-family: var(--ff-secondary);
    font-size: var(--fs-700);
    line-heigt: 1.4;
  }
}

.hero {
  
  &__service-stats {
    
    h2, h3 {
      font-size: var(--fs-900);
    }
    
    h2 > span,
    h3 > span {
      font-size: var(--fs-400);
      font-weight: var(--fw-regular);
    }
  }
}

.services {
  text-align: center;
  
  h2 {
    font-size: var(--fs-600);
    font-family: var(--ff-secondary);
  }
}

.footer {
  color: var(--clr-neutral-400);
  
  p,
  ul {
    line-height: 1.7;
 }
 
 a {
    color: var(--clr-primary-400);
    
    &:hover {
      color: var(--clr-primary-300);
    }
    
    &:active {
      color: var(--clr-primary-700);
    }
    
    &:visited {
      color: var(--clr-neutral-400);
      font-weight: var(--fw-regular);
    }
  }
  
  &__attributions {
    font-size: var(--fs-200);
    text-align: center;
  }
}

.extra-info {
  
  &__contacts {
    font-weight: var(--fw-regular);
  }
  
  &__social-media {
    --icon-size: 1.5rem;
    font-size: var(--icon-size);
    
    a {
      color: var(--clr-neutral-100);
    }
  }
}

// ------------------------------------------------------------//
// components
// buttons
.btn {
  color: var(--clr-neutral-100);
  text-decoration: none;
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize;
  
  &__pill-secondary {
    color: var(--clr-primary-400);
    font-size: var(--fs-200);
    
    &:hover {
      color: var(--clr-primary-300);
    }
  }
  
  &__cutout-corners {
    font-weight: var(--fw-bold);
  }
}


// newsletter
.newsletter {
  
  &__title {
    text-transform: uppercase;
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
  }
  
  &__email-input {
    font-weight: var(--fw-regular);
  }
  
  &__error {
    color: var(--clr-primary-700);
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    font-style: italic;
  }
}
