.title {
  --medium-font-size: var(--fs-600);
  --big-font-size: var(--fs-700);
  --very-big-font-size: var(--fs-900);
  --ff-primary: var(--ff-heading);
  --ff-secondary: var(--ff-body);
  font-weight: var(--fw-bold);
  
  &--medium {
    font-size: var(--medium-font-size);
  }
  
  &--big {
    font-size: var(--big-font-size);
  }
  
  &--very-big {
    font-size: var(--very-big-font-size);
  }
  
  &--ff-primary {
    font-family: var(--ff-primary);
  }
  
  &--ff-secondary {
    font-family: var(--ff-secondary);
  }
}