@use '../abstracts/breakpoints' as brk;

.header {
  --logo-width: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 6.5rem;
  
  @include brk.minWidth(medium) {
    padding: 4em;
    margin-bottom: 10rem;
  }
  
  @include brk.minWidth(large) {
    --logo-width: 15rem;
  }
  
  
  &__logo {
    width: var(--logo-width);
    object-fit: contain;
  }
  
  .btn {
    text-transform: capitalize;
    font-size: var(--fs-200);
  }
}