@use '../abstracts/breakpoints' as brk;

.header {
  --logo-width: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--side-padding);
  margin-bottom: 6.5rem;
  
  @include brk.minWidth(small) {
    padding: 2em 2em;
  }
  
  &__logo {
    width: var(--logo-width);
    object-fit: contain;
  }
  
  .btn {
    text-transform: capitalize;
    font-size: var(--fs-200);
  }
}