@use '../abstracts/breakpoints' as brk;

.hero {
  --title-bottom-spacing: 1.5rem;
  --desc-bottom-spacing: 3rem;
  --desc-max-width: 55ch;
  --btn-bottom-spacing: 6.5rem;
  --image-position: 0 auto;
  padding: 0 var(--side-padding);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7.75rem;
  
  .title {
    margin-bottom: var(--title-bottom-spacing);
  }
  
  &__description {
    margin-bottom: var(--desc-bottom-spacing);
    max-width: var(--desc-max-width);
  }
  
  .btn {
    margin-bottom: var(--btn-bottom-spacing);
  }
  
  &__image {
    width: var(--hero-image-width);
    object-fit: contain;
    margin: var(--image-position);
  }
}