.services {
  margin-bottom: 8.25rem;
  
  & >* {
    gap: 6.75em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  &__illustration {
    width: 75%;
  }
  
  &__txt-content {
     
     h2 {
      margin-bottom: 0.75em;
    }
  }
  
  &__grow-together,
  &__your-users {
    position: relative;
    background-color: var(--clr-neutral-400);
    
    &::before,
    &::after {
      content: '';
      width: 100%;
      min-height: 25%;
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      z-index: -1;
    }
    
    &::before {
      background-position: bottom center;
      bottom: 98%;
    }
    &::after {
      background-position: top center;
       top: 98%;
    }
  }
  
  &__grow-together {
    padding-top: 4.75em;
    padding-bottom: 4.25em;
    margin-bottom: 12.25em;
    
    &::before {
      background-image: url('/images/backgrounds/bg-section-top-mobile-1.svg');
    }
    
    &::after {
      background-image: url('/images/backgrounds/bg-section-bottom-mobile-1.svg');
    }
  }
  
  &__flowing-convo {
    margin-bottom: 14.5em;
  }
  
  &__your-users {
    padding-bottom: 8.25em;
    
        &::before {
      background-image: url('/images/backgrounds/bg-section-top-mobile-2.svg');
    }
    
    &::after {
      background-image: url('/images/backgrounds/bg-section-bottom-mobile-2.svg');
    }
  }
}