@use '../abstracts/breakpoints' as brk;

.services {
  --text-align: center;
  --title-margin-bottom: 1.15rem;
  --illustration-size: min(70%, 30rem);
  --txt-content-max-width: 60ch;
  --flex-direction: column;
  --content-gap: 5rem;
  --grow-together-padding: 5.75em var(--side-padding) 3em;
  --grow-together-margin-bottom: 10rem;
  --flow-convo-padding: 0 var(--side-padding);
  --your-users-padding: 0 var(--side-padding) 7em;
  margin-bottom: 10rem;
  
  @include brk.minWidth(small) {
    --illustration-size: min(45%, 30rem);
    --text-align: left;
    --flex-direction: row-reverse;
    --content-gap: 3rem;
    --grow-together-padding: 2em var(--side-padding);
    --flow-convo-padding: 2em var(--side-padding);
    --your-users-padding: 2em var(--side-padding);
  }
  
  @include brk.minWidth(medium) {
    margin-bottom: 17.5rem;
  }
  
  @include brk.minWidth(large) {
    --grow-together-margin-bottom: 17.5rem;
    --content-gap: 7.5rem;
  }
  
  
  > * {
    display: flex;
    flex-direction: var(--flex-direction);
    align-items: center;
    justify-content: center;
    gap: var(--content-gap);
  }
  
  &__grow-together,
  &__your-users {
    
    // enable curves
    &::before,
    &::after {
      content: '';
    }
  }
  
  &__grow-together {
    padding: var(--grow-together-padding);
    margin-bottom: var(--grow-together-margin-bottom);
  }
  
  &__flowing-conversations {
    padding: var(--flow-convo-padding);
    margin-bottom: 13.5rem;
    
    @include brk.minWidth(small) {
      --flex-direction: row;
    }
  }
  
  &__your-users {
    padding: var(--your-users-padding);
  }
  
  &__txt-content {
    text-align: var(--text-align);
    max-width: var(--txt-content-max-width);
    
    .title {
      margin-bottom: var(--title-margin-bottom);
    }
  }
  
  &__illustration {
    width: var(--illustration-size);
  }
}
