@use '../abstracts/breakpoints' as brk;

.site-info {
  --logo-width: 12rem;
  --logo-margin-bottom: 1rem;
  --contacts-line-gap: 1.25em;
  --contacts-icon-size: 1em; // depends on li element top-bottom padding
  --contacts-icon-text-gap: 1.5rem;
  --desc-max-width: 40ch;
  --social-icon-size: var(--fs-700);
  
  @include brk.minWidth(medium) {
    --logo-width: 20rem;
    --logo-margin-bottom: 2rem;
    --social-icon-size: var(--fs-600);
  }
  
  &__logo {
    width: var(--logo-width);
    margin-bottom: var(--logo-margin-bottom);
  }
  
  &__description {
    line-height: 1.7;
    max-width: var(--desc-max-width);
  }
  
  &__description,
  &__contacts {
    margin-bottom: 3rem;
  }
  
  &__contacts,
  &__social-media {
    list-style: none;
    padding-left: 0;
  }
  
  &__contacts {
    
    
    &--phone-number,
    &--email-address {
      background-repeat: no-repeat;
      background-position: left center;
      background-size: var(--contacts-icon-size) contain;
      font-weight: var(--fw-regular);
      
      span {
        padding-left: calc(var(--contacts-icon-size) + var(--contacts-icon-text-gap));
      }
    }
    
    &--phone-number {
      background-image: url('/images/icons/icon-phone.svg');
      margin-bottom: var(--contacts-line-gap);
    }
    
    &--email-address {
      background-image: url('/images/icons/icon-email.svg');
    }
  }
  
  &__social-media {
    font-size: var(--social-icon-size);
    display: flex;
    align-items: center;
    gap: 0.5em;
    
    li {
      transition: transform 100ms ease;
      
      &:hover {
        transform: translateY(-10%);
      }
    }
    
    li a {
      color: var(--clr-neutral-100);
    }
  }
}